<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.hutao.manage.mapper.CarMapper">
    <select id="judgeCarNumber" resultType="int">
        SELECT count(*)
        FROM sys_car car
        WHERE
        car.carNumber=#{txt}
    </select>

    <select id="getOwnerCarInfo" resultType="ink.hutao.manage.entity.po.Car">
        SELECT
        car.carInfo,
        car.carNumber
        FROM
        sys_car car
        LEFT JOIN
        sys_owner owner
        on
        owner.id=car.ownerId
        WHERE
        owner.id=#{ownerId}
    </select>
</mapper>